<section>
    @if (planAlimenticio) {
        <div class="plan">
            <div class="plan-titulo">
                <h2>
                    <strong>PLAN ALIMENTICIO</strong>
                </h2>
            </div>
            <div>
                <button class="btn btn-primary" (click)="createNewPlanAlimenticio()">
                    <i class="fa-solid fa-plus"></i>
                    Nuevo Plan
                </button>
            </div>
        </div>
        <!-- Cards -->
        <div class="container">
            <mat-card *ngFor="let plan of filteredPlanAlimenticio">
                <div class="row">
                    <div class="card">
                        <div class="">
                            <mat-card-header>
                                <mat-card-title>
                                    <strong>{{ plan.planObjetivo | formatPlanObjetivo }} - {{ plan.id }}</strong>
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p><strong>Descripcion:</strong> {{ plan.descripcion }} </p>
                                <p><strong>Duracion:</strong> {{ plan.duracionDias }} dias</p>
                                <p><strong>Calorias Totales:</strong> {{ plan.caloriasTotales }} kcal</p>
                                <p><strong>Es gratis:</strong> {{ plan.esGratis }} </p>
                            </mat-card-content>
                            <div class="d-flex justify-content-between button-plan m-3">
                                <button class="btn btn-secondary" (click)="anadirComida(plan.id)">Añadir Comida</button>
                                <button class="btn btn-primary" (click)="editPlanAlimenticio(plan.id)">Editar</button>
                                <button class="btn btn-danger" (click)="deletePlanAlimenticio(plan.id)">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    } @else {
        <p>No hay planes alimenticios</p>
}
</section>