<div class="plan">
    <div class="plan-titulo">
        <h2>
            <strong>RECOMPENSAS</strong>
        </h2>
    </div>
    <div>
        <button class="btn btn-primary" (click)="createNewRecompensa()">
            <i class="fa-solid fa-plus"></i>
            Nuevo Recompensa
        </button>
    </div>
</div>

<mat-table [dataSource]="planAlimenticioRecompensas">

    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
        <mat-cell *matCellDef="let recompensa; let i = index"> {{i + 1}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let recompensa"> {{recompensa.nombre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef>Descripcion</mat-header-cell>
        <mat-cell *matCellDef="let recompensa"> {{recompensa.descripcion}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="diasRequeridos">
        <mat-header-cell *matHeaderCellDef>Dias Requeridos</mat-header-cell>
        <mat-cell *matCellDef="let recompensa"> {{recompensa.diasRequeridos}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="planAlimenticioTitulo">
        <mat-header-cell *matHeaderCellDef>Plan Alimenticio</mat-header-cell>
        <mat-cell *matCellDef="let recompensa"> {{recompensa.planAlimenticioTitulo | formatPlanObjetivo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let recompensa">
            <div class="button-group d-flex">
                <button
                    mat-raised-button
                    class="btn btn-primary me-3"
                    (click)="editarRecompensaNavigate(recompensa.id)"
                >
                    Editar
                </button>
                <button
                    mat-raised-button
                    class="btn btn-danger"
                    (click)="deleteRecompensa(recompensa.id)"
                >
                    Eliminar
                </button>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumnsPlanAlimenticio"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsPlanAlimenticio"></mat-row>
</mat-table>

<mat-table [dataSource]="contenidoRecompensas">

    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
        <mat-cell *matCellDef="let recompensa; let i = index"> {{i + 1}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let recompensa"> {{recompensa.nombre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef>Descripcion</mat-header-cell>
        <mat-cell *matCellDef="let recompensa"> {{recompensa.descripcion}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="diasRequeridos">
        <mat-header-cell *matHeaderCellDef>Dias Requeridos</mat-header-cell>
        <mat-cell *matCellDef="let recompensa"> {{recompensa.diasRequeridos}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="contenidoTitulo">
        <mat-header-cell *matHeaderCellDef>Contenido</mat-header-cell>
        <mat-cell *matCellDef="let recompensa"> {{recompensa.contenidoTitulo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let recompensa">
            <div class="button-group d-flex">
                <button
                    mat-raised-button
                    class="btn btn-primary me-3"
                    (click)="editarRecompensaNavigate(recompensa.id)"
                >
                    Editar
                </button>
                <button
                    mat-raised-button
                    class="btn btn-danger"
                    (click)="deleteRecompensa(recompensa.id)"
                >
                    Eliminar
                </button>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumnsContenido"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsContenido"></mat-row>
</mat-table>