<mat-form-field>
    <mat-label>Filtrar por Id de Plan:</mat-label>
    <mat-select [(value)]="selectedPlanId" (selectionChange)="filterComidas()">
        <mat-option [value]="null">Todos los planes</mat-option>
        <mat-option *ngFor="let plan of uniquePlans" [value]="plan.planAlimenticioId">
            Plan: {{ plan.planAlimenticioId }}
        </mat-option>
    </mat-select>
  </mat-form-field>  

<mat-table [dataSource]="filteredComidas">
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
        <mat-cell *matCellDef="let comida; let i = index"> {{i + 1}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombreComida">
        <mat-header-cell *matHeaderCellDef>Nombre Comida</mat-header-cell>
        <mat-cell *matCellDef="let comida"> {{comida.nombreComida}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="categoria">
        <mat-header-cell *matHeaderCellDef>Categoria</mat-header-cell>
        <mat-cell *matCellDef="let comida"> {{comida.categoria | formatCategoriaComida}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="calorias">
        <mat-header-cell *matHeaderCellDef>Calorias</mat-header-cell>
        <mat-cell *matCellDef="let comida"> {{comida.calorias}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombrePlanAlimenticio">
        <mat-header-cell *matHeaderCellDef>Plan asociado</mat-header-cell>
        <mat-cell *matCellDef="let comida"> {{comida.nombrePlanAlimenticio | formatPlanObjetivo}} - {{comida.planAlimenticioId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let comida">
            <div class="button-group d-flex">
                <button
                    mat-raised-button
                    class="btn btn-primary me-3"
                    (click)="editarComidaNavigate(comida.planAlimenticioId, comida.id)"
                >
                    Editar
                </button>
                <button
                    mat-raised-button
                    class="btn btn-danger"
                    (click)="deleteComida(comida.planAlimenticioId, comida.id)"
                >
                    Eliminar
                </button>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
