<div class="container-form">
    <form [formGroup]="comidaForm" (ngSubmit)="onSubmit()" class="form-section">
      <h2 class="text-center"><strong>Editar Comida</strong></h2>
  
      <div>
        <mat-form-field class="form-field">
          <mat-label>Categoria de Comida</mat-label>
          <mat-select formControlName="categoria">
            <mat-option value="DESAYUNO">Desayuno</mat-option>
            <mat-option value="ALMUERZO">Almuerzo</mat-option>
            <mat-option value="CENA">Cena</mat-option>
            <mat-option value="SNACK">Snack</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div>
        <mat-form-field class="form-field">
          <mat-label>Nombre de Comida</mat-label>
          <input
            matInput
            formControlName="nombreComida"
            type="text"
            placeholder="Ingrese el nombre de la comida"
          />
          @if (controlHasError('nombreComida', 'required')) {
            <mat-error>Este campo es obligatorio</mat-error>
          }
        </mat-form-field>
      </div>
  
      <div>
        <mat-form-field class="form-field">
          <mat-label>Calorías</mat-label>
          <input
            matInput
            formControlName="calorias"
            type="number"
            placeholder="Ingrese las calorías"
          />
          @if (controlHasError('calorias', 'required')) {
            <mat-error>Este campo es obligatorio</mat-error>
          }
          @if (controlHasError('calorias', 'min')) {
            <mat-error>Introduzca un número válido.</mat-error>
          }
        </mat-form-field>
      </div>
  
      <button class="btn btn-primary" mat-raised-button color="primary" type="submit">
        Añadir Comida
      </button>
    </form>
  </div>
  