.wa {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9; /* Fondo claro opcional */
}

.form-container {
    width: 100%;
    background: #fff; /* Fondo blanco para contraste */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-field {
    margin-left: 5px;
    width: 49%;
}

.form-contenido {
    width: 100%;
    gap: 20px; /* Espaciado uniforme entre elementos */
}

.titulo {
    margin-bottom: 20px;    
    text-align: center;
}
