.profile-container {
    width: 70%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
    margin: 10px auto;
}

.card-title {
  border-bottom: 3px solid #2E8B57;
}

.datos-user {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

hr {
    margin-top: 20px;
    color: #2E8B57;
}

/* Objetivo */

.objetivo-container {
    width: 200px;
    height: 100px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin: 20px;

    text-align: center;
    align-content: center;
    justify-content: center;
}

.objetivo-container p {
    justify-content: center;
    align-items: center;
}

@media (max-width: 991px) {
    .profile-container {
        width: 100%;
    }

    h5 {
        font-size: 1.5rem;
    }

    i {
        font-size: 1.5rem;
    }

    .objetivo-container {
        padding: 5px;
        margin: 20px;
    }
}