<main class="p-3">
    <div class="container-fluid">
        <form [formGroup]="grupoForm" (ngSubmit)="onSubmit()">
            <h2 class="text-center"><strong> {{titulo}} </strong></h2>

            <div>
                <mat-form-field class="form-field">
                    <mat-label>Nombre del Grupo</mat-label>
                    <input
                        matInput
                        formControlName="nombre"
                        type="text"
                        placeholder="Ingrese el nombre del grupo"
                    >
                </mat-form-field>
            </div>

            <button color="primary" type="submit" class="btn btn-primary">
                {{ textoBoton }}
                
            </button>
        </form>
    </div>
</main>