<main class="p-3">
    <div class="container-fluid">
        <div class="wa">
            <h2 class="titulo">
                <strong>
                    @if (publicacionId) {
                        Editar Publicación
                    } @else {
                        Crear Publicación
                    }
                </strong>
            </h2>

            <form
                [formGroup]="form"
                (ngSubmit)="save()"
                class="mt-5 form-publicacion"
                autocomplete="off"
            >
                <mat-form-field class="form-field w-100" appearance="outline">
                    <mat-label>Titulo</mat-label>
                    <input
                        matInput
                        type="text"
                        placeholder="Titulo"
                        formControlName="titulo"
                    >
                </mat-form-field>
                <mat-form-field class="form-field w-100" appearance="outline">
                    <mat-label>Descripción</mat-label>
                    <textarea
                        matInput
                        placeholder="Descripción"
                        formControlName="descripcion"
                    ></textarea>
                </mat-form-field>

                <div class="file-upload w-100">
                    <label>Portada</label>
                    <input
                        type="file"
                        class="form-control"
                        accept=".png, .jpg, .jpeg"
                        (change)="uploadFile($event, 'publicacionPath')"
                    >
                    <div class="small text-muted">
                        Ruta actual: {{ form.get('publicacionPath')!.value }}
                    </div>
                </div>

                <div class="action-buttons text-end">
                    <button mat-button type="button" routerLink="/cliente/grupo">
                        Cancelar
                    </button>
                    <button mat-raised-button color="primary" class="ms-2">
                        @if (publicacionId) {
                            Actualizar
                        } @else {
                            Crear
                        }
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>