<div class="wa">
    <div class="form-container">
        <h2 class="titulo"><strong>
            @if (contenidoId) {
                Editar Contenido
            } @else {
                Crear Contenido
            }
        </strong></h2>
        <form
            [formGroup]="form"
            (ngSubmit)="save()"
            class="mt-5 form-contenido"
            autocomplete="off"
        >
            <mat-form-field class="form-field w-100" appearance="outline">
                <mat-label>Título</mat-label>
                <input
                    matInput
                    type="text"
                    placeholder="Título"
                    formControlName="titulo"
                    (keyup)="createSlug()"
                />
                <mat-error>
                    @if(form.get('titulo')!.hasError('required')) { Este título es obligatorio }
                    @else if (form.get('titulo')?.hasError('minlength')) {
                    El título debe tener al menos 3 caracteres
                    }
                    @else if (form.get('titulo')?.hasError('maxlength')) {
                    El título debe tener 250 caracteres como máximo
                    }
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field w-100" appearance="outline">
                <mat-label>Slug</mat-label>
                <input
                    matInput
                    type="text"
                    placeholder="Slug"
                    formControlName="slug"
                />
                <mat-error>
                    @if(form.get('slug')!.hasError('required')) { Este slug es obligatorio }
                    @else if (form.get('slug')!.hasError('pattern')) {
                    El slug es inválido
                    }
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field w-100" appearance="outline">
                <mat-label>Descripción</mat-label>
                <textarea
                    matInput
                    placeholder="Descripción"
                    formControlName="descripcion"
                ></textarea>
                <mat-error>
                    @if(form.get('descripcion')!.hasError('required')) {
                    La descripción es obligatoria
                    }
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field w-100" appearance="outline">
                <mat-label>Tipo de Contenido</mat-label>
                <mat-select formControlName="tipoContenido" (selectionChange)="onTipoContenidoChange($event)">
                    <mat-option value="VIDEO">Video</mat-option>
                    <mat-option value="ARTICULO">Artículo</mat-option>
                    <mat-option value="GUIA">Guía</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="form-field w-100" appearance="outline">
                <mat-label>Categoria de Contenido</mat-label>
                <mat-select formControlName="categoriaContenido">
                    <mat-option value="NUTRICION">Nutricion</mat-option>
                    <mat-option value="EJERCICIO">Ejercicio</mat-option>
                    <mat-option value="SALUD_MENTAL">Salud Mental</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="mb-3 form-field">
                <mat-radio-group
                    formControlName="esGratis"
                    class="d-flex container-radio-button"
                >
                    <label id="esGratis">Es gratis: </label>
                    <mat-radio-button [value]="true">Sí</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="file-upload w-100">
                <label>Portada</label>
                <input
                    type="file"
                    class="form-control"
                    accept=".png,.jpg,.jpeg"
                    (change)="uploadFile($event, 'coverPath')"
                />
                <div class="small text-muted">
                    Ruta actual: {{ form.get("coverPath")!.value }}
                </div>
            </div>

            <div class="file-upload w-100">
                <label>Archivo</label>
                <input
                    type="file"
                    class="form-control"
                    [accept]="fileAccept"
                    (change)="uploadFile($event, 'filePath')"
                />
                <div class="small text-muted">
                    Ruta actual: {{ form.get("filePath")!.value }}
                </div>
            </div>

            <div class="action-buttons text-end">
                <button mat-button type="button" routerLink="/nutricionista/contenido">
                    Cancelar
                </button>
                <button mat-raised-button color="primary" class="ms-2">
                    @if (contenidoId) {
                        Actualizar
                    } @else {
                        Crear
                    }
                </button>
            </div>
        </form>
    </div>
</div>