<main class="p-3">
  <div class="container-fluid">
    <div class="container-form">
      <form
        [formGroup]="seguimientoForm"
        (ngSubmit)="onSubmit()"
        class="form-section"
      >
        <h2>{{ titulo }}</h2>  <!-- Aquí se muestra el título dinámico -->
    
        <div>
          <mat-form-field class="form-field">
            <mat-label>Observaciones</mat-label>
            <input
              matInput
              formControlName="observaciones"
              type="text"
              placeholder="Escribe tus observaciones"
              aria-label="Observaciones"
            />
          </mat-form-field>
        </div>
    
        <div>
          <mat-form-field class="form-field">
            <mat-label>Fecha</mat-label>
            <input
              matInput
              formControlName="fecha"
              type="date"
              placeholder="Selecciona la fecha"
              aria-label="Fecha"
            />
          </mat-form-field>
        </div>
    
        <div>
          <mat-form-field class="form-field">
            <mat-label>Peso</mat-label>
            <input
              matInput
              formControlName="pesoDelDia"
              type="number"
              step="0.01"
              placeholder="Ingresa tu peso"
              aria-label="Peso"
            />
          </mat-form-field>
        </div>
    
        <div class="row justify-content-between">
          <button
            mat-raised-button
            class="btn btn-primary"
            color="primary"
            type="submit"
            [disabled]="seguimientoForm.invalid"
          >
            {{ textoBoton }}  <!-- Aquí se muestra el texto dinámico del botón -->
          </button>
        </div>
      </form>
    </div>
    
  </div>
</main>