<div class="container">
    <div class="d-flex justify-content-between">
        <h5><strong>Registro de Habitos</strong></h5>
        <button mat-raised-button class="btn btn-primary" (click)="crearHabito()">
            Crear Habito
        </button>
    </div>
</div>

<mat-table [dataSource]="filteredHabito">
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
        <mat-cell *matCellDef="let comida; let i = index"> {{i + 1}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let habito"> {{habito.nombre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fechaRegistro">
        <mat-header-cell *matHeaderCellDef>Fecha de registro</mat-header-cell>
        <mat-cell *matCellDef="let habito"> {{habito.fechaRegistro | date: 'dd/MM/yyyy'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="hidratacion">
        <mat-header-cell *matHeaderCellDef>Hidratacion</mat-header-cell>
        <mat-cell *matCellDef="let habito"> {{habito.hidratacion}} L </mat-cell>
    </ng-container>

    <ng-container matColumnDef="alimentacion">
        <mat-header-cell *matHeaderCellDef>Alimentacion</mat-header-cell>
        <mat-cell *matCellDef="let habito"> {{habito.alimentacion}} kcal </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ejercicio">
        <mat-header-cell *matHeaderCellDef>Ejercicio</mat-header-cell>
        <mat-cell *matCellDef="let habito"> {{habito.ejercicio}} horas </mat-cell>
    </ng-container>

    <ng-container matColumnDef="calidadDeSueno">
        <mat-header-cell *matHeaderCellDef>Calidad de sueño</mat-header-cell>
        <mat-cell *matCellDef="let habito"> {{habito.calidadDeSueno}} horas </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let habito">
            <div class="button-group d-flex">
                <button
                    mat-raised-button
                    class="btn btn-primary me-3"
                    (click)="editarHabito(habito.id)"
                >
                    Editar
                </button>
                <button
                    mat-raised-button
                    class="btn btn-danger"
                    (click)="eliminarHabito(habito.id)"
                >
                    Eliminar
                </button>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>