<div class="password-reset-container">
    <div class="reset-container">
      <h2 class="reset-header">Cambiar Contraseña</h2>
      <form *ngIf="tokenValid" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="form-input">
          <mat-label>Nueva Contraseña</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Introduce tu nueva contrase単a" />
          <mat-error *ngIf="resetForm.get('password')?.hasError('required')">Este campo es obligatorio</mat-error>
        </mat-form-field>
  
        <button mat-raised-button color="primary" class="submit-button" type="submit" [disabled]="resetForm.invalid">
          Cambiar Contraseña
        </button>
      </form>
    </div>
  </div>
  