.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 15px 0;
    transition: 0.3s background-color;
}

.navbar-brand {
    font-weight: 500;
    color: #2E8B57;
    font-size: 24px;
    transition: 0.3s color;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    font-weight: 500;
    position: relative;
}


.nav-link:hover, .nav-link.active {
    color: #000;
}

.login-button {
    background-color: #2E8B57;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

@media (max-width: 991px) {
    .nav-link::before, .sesion::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #A3E4B7;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    
    .nav-link:hover::before, .nav-link.active::before {
        visibility: visible;
        width: 100%;
    }
    
    .sesion {
        margin-top: 40px;
    }

    .sesion-li {
        margin-top: 10px;
    }
}

.sesion {
    margin-left: 20px;
}

.toggler-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

.toggler-btn i {
    font-size: 1.75rem;
    color: #000;
}



.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}