<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        @if(!isAuthenticated) {
                
            <a class="navbar-brand me-auto" href="#">
                <!--<img src="../../../../../public/logo.png" width="35" height="35" class="d-inline-block align-text-top nav-img">-->
                Healthy Bites
            </a>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Healthy Bites</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-center flex-grow-1 pe-3" id="navbarNav">
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" aria-current="page" href="#hero">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" aria-current="page" href="#about">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="#feature">Caracteristicas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="#testimonial">Testimonios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="#team">Equipo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="#contact">Contactenos</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sesion">
                <ul class="navbar-nav flex-grow-1 pe-3" id="navbarNav">
                    <li class="sesion-li nav-item">
                        <a href="#" class="login-button nav-link mx-lg-2" routerLink="/auth/login" >Iniciar Sesion</a>
                    </li>
                    <li class="sesion-li nav-item">
                        <a href="#" class="login-button nav-link mx-lg-2" routerLink="/auth/register">Registrarse</a>
                    </li>
                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        } @else {
            <nav class="navbar-brand me-auto asidebar asidebar-expand">
                <button class="toggler-btn" (click)="toggleSidebar()">
                    <i class="fa fa-bars"></i>
                </button>
            </nav>
            <div class="sesion">
                <a href=""><i class="fa-solid fa-bolt"> 50</i></a>
            </div>
        }
    </div>
</nav>