<footer class="bg-dark">
    <div class="footer-top">
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-3 col-sm-6">
                    <h5 class="mb-0 text-white">HEALTHY BITES</h5>
                    <div class="line"></div>
                    <p>Tu plataforma de nutrición y bienestar, con contenido, planes alimenticios personalizados y comunidad de apoyo.¡Transforma tu vida con nosotros!</p>
                    <div class="social-icons">
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5 class="mb-0 text-white">SERVICIOS</h5>
                    <div class="line"></div>
                    <ul>
                        <li><a href="#">Contenido Nutricional</a></li>
                        <li><a href="#">Planes Alimenticios</a></li>
                        <li><a href="#">Grupos de Interés</a></li>
                        <li><a href="#">Sistema de Recompensas</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5 class="mb-0 text-white">ACERCA DE NOSOTROS</h5>
                    <div class="line"></div>
                    <ul>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Servicios</a></li>
                        <li><a href="#">Compania</a></li>
                        <li><a href="#">Carrera</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5 class="mb-0 text-white">CONTACTENOS</h5>
                    <div class="line"></div>
                    <ul>
                        <li>Peru, Trujillo</li>
                        <li>(044) 010203</li>
                        <li>www.healthybites.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row g-4 justify-content-between">
                <div class="col-auto">
                    <p class="mb-0">© Copyright Healthy Bites. All Rights Reserved</p>
                </div>
                <div class="col-auto">
                    <p class="mb-0">Team Healthy Bites</p>
                </div>
            </div>
        </div>
    </div>
</footer>