/* General */
.container-fluid {
    padding: 0; /* Eliminamos padding innecesario */
}

h1 {
    font-weight: 800;
}

li {
    list-style: none;
}

#sidebar {
    max-width: 264px;
    min-width: 200px;
    transition: all 0.35s ease-in-out;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Espaciado interno */
}

.sidebar-item {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #ddd; /* Separación visual */
}

a.sidebar-grupo-link {
    padding: 0.625rem 1.625rem;
    color: #000;
    position: relative;
    transition: all 0.35s;
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
}

.grupo-list-container {
    max-height: calc(100vh - 150px); /* Ajusta la altura según tus necesidades */
    overflow-y: auto;
    margin-top: 20px; /* Separación superior */
    width: 100%;
}

/* Botones */
button.btn-primary, 
button.btn-secondary {
    font-size: 1rem;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 10px; /* Separación entre botones */
}

button.btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
}

button.btn-secondary {
    background-color: #6c757d;
    border: none;
    color: white;
}

/* Mat-menu ajustes */
.mat-menu-item {
    padding: 10px 15px;
    font-size: 14px;
    color: #1c1e21;
    display: flex;
    align-items: center;
}

.mat-menu-item:hover {
    background-color: #f5f6f7;
}

.mat-icon {
    color: #606770;
}

/* Botón de los tres puntos */
.mat-icon-button {
    border: none;
    background-color: transparent;
    padding: 5px;
}

.mat-icon-button .mat-icon {
    font-size: 20px;
}

/* Responsivo */
@media screen and (max-width: 768px) {
    #sidebar {
        max-width: 200px;
        min-width: 150px;
    }

    .sidebar-item {
        font-size: 0.9rem;
    }
}

.mat-mdc-menu-trigger {
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: none;
    border: none;
}