<main class="p-3">
    <div class="container-fluid">
        <div class="plan">
            <div class="plan-titulo">
                <h2>
                    <strong>{{ grupoNombre }}</strong>
                </h2>
            </div>
            <div>
                <button (click)="nuevaPublicacion()">
                    <i class="fa-solid fa-plus"></i>
                    Nueva Publicacion
                </button>
            </div>
        </div>

        <!-- Cards -->
        <div class="container">
            <div class="card" *ngFor="let publicacion of filteredPublicaciones">
                <div class="mat-mdc-card-header">
                    <div class="mat-mdc-card-title">
                        <strong>{{ publicacion.titulo }}</strong>
                    </div>
                    <!-- Mostrar el matMenu solo si el clienteId de la publicación coincide con el clienteId del usuario autenticado -->
                    <ng-container *ngIf="publicacion.clienteId === clienteId">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="editarPublicacion(publicacion.id)">
                                <mat-icon>edit</mat-icon>
                                <span>Editar</span>
                            </button>
                            <button mat-menu-item (click)="eliminarPublicacion(publicacion.id)">
                                <mat-icon>delete</mat-icon>
                                <span>Eliminar</span>
                            </button>
                        </mat-menu>
                    </ng-container>
                </div>
                <div class="mat-mdc-card-content">
                    <p>{{ publicacion.descripcion }}</p>
                    <img [src]="publicacion.publicacionPath | apiImg" alt="Cover">
                    <hr>
                    <!-- Mostrar comentarios si esta publicación está seleccionada -->
                    <div *ngIf="isComentariosVisible(publicacion.id)" class="comentarios">
                        <p><strong>Comentarios</strong></p>
                        <div *ngFor="let comentario of filteredComentarios">
                            <p><strong>{{ comentario.nombreCliente }}</strong>: {{ comentario.mensaje }}</p>
                        </div>
                    </div>

                    <!-- Formulario para agregar un nuevo comentario -->
                    <div class="nuevo-comentario">
                        <input 
                            type="text" 
                            [(ngModel)]="nuevoComentario[publicacion.id]" 
                            placeholder="Escribe un comentario..." 
                            class="comentario-input" 
                        />
                        <button 
                            (click)="agregarComentario(publicacion.id)">
                            Enviar
                        </button>
                    </div>

                    <button mat-button (click)="verComentarios(publicacion.id)">Ver comentarios</button>
                </div>
            </div>
        </div>
    </div>
</main>