<section class="form-section bg-light register-container">
  <div class="container">
    <h2 class="text-center">Actualizar perfil</h2>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-6">
          <mat-form-field class="form-field">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              formControlName="nombre"
              type="text"
              placeholder="Actualice su nombre"
            />
            @if (controlHasError('nombre', 'required')) {
            <mat-error>Este campo es obligatorio</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="form-field">
            <mat-label>Apellido</mat-label>
            <input
              matInput
              formControlName="apellido"
              type="text"
              placeholder="Actualice su apellido"
            />
            @if (controlHasError('apellido', 'required')) {
            <mat-error>Este campo es obligatorio</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="mb-3 form-field">
          <label>Sexo</label>
          <mat-radio-group formControlName="sexo" class="d-flex">
              <mat-radio-button value="Masculino" class="me-3">Masculino</mat-radio-button>
              <mat-radio-button value="Femenino">Femenino</mat-radio-button>
              <mat-radio-button value="Otro">Otro</mat-radio-button>
          </mat-radio-group>
      </div>

        <div class="row mb-3">
          <div class="col-4">
            <mat-form-field class="form-field">
              <mat-label>Edad</mat-label>
              <input
                matInput
                formControlName="edad"
                type="number"
                placeholder="Actualice su edad"
              />
              @if (controlHasError('edad', 'required')) {
              <mat-error>Este campo es obligatorio</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field class="form-field">
              <mat-label>Altura (cm)</mat-label>
              <input
                matInput
                formControlName="altura"
                type="number"
                step="0.01"
                placeholder="Actualice su altura"
              />
              @if (controlHasError('altura', 'required')) {
              <mat-error>Este campo es obligatorio</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field class="form-field">
              <mat-label>Peso (kg)</mat-label>
              <input
                matInput
                formControlName="peso"
                type="number"
                step="0.01"
                placeholder="Actualice su peso"
              />
              @if (controlHasError('peso', 'required')) {
              <mat-error>Este campo es obligatorio</mat-error>
              }
            </mat-form-field>
          </div>
        </div>
      </div>
      <button
          color="primary"
          class="submit-button btn btn-primary"
          type="submit"
          [disabled]="profileForm.invalid"
        >
          Guardar Cambios
        </button>
    </form>
  </div>
</section>
