<main class="p-3">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h5><strong>CONTENIDOS</strong></h5>
      <div class="d-flex">
        <mat-form-field appearance="fill" class="mr-2">
          <mat-label>Tipo de Contenido</mat-label>
          <mat-select [(value)]="selectedTipoContenido" (selectionChange)="filterContenido()">
            <mat-option [value]="null">Todos</mat-option>
            <mat-option *ngFor="let tipo of uniqueTiposContenido" [value]="tipo">{{ tipo }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Categoría de Contenido</mat-label>
          <mat-select [(value)]="selectedCategoriaContenido" (selectionChange)="filterContenido()">
            <mat-option [value]="null">Todos</mat-option>
            <mat-option *ngFor="let categoria of uniqueCategoriasContenido" [value]="categoria">{{ categoria }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let item of filteredContenido">
        <mat-card [ngClass]="{'blurred': !item.esGratis}">
          <mat-card-title>{{ item.titulo }}</mat-card-title>
          <mat-card-content>
            <img [src]="item.coverPath | apiImg" alt="Cover">
            <p><strong>Descripcion: </strong> {{ item.descripcion }}</p>
            <p><strong>Tipo Contenido: </strong> {{ item.tipoContenido }}</p>
            <p><strong>Categoria Contenido: </strong> {{ item.categoriaContenido }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="verDetalles(item)" *ngIf="item.esGratis">Ver Detalles</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-3 mt-3">
      <h5><strong>PLANES ALIMENTICIOS</strong></h5>
      <mat-form-field appearance="fill">
        <mat-label>Plan Objetivo</mat-label>
        <mat-select [(value)]="selectedPlanObjetivo" (selectionChange)="filterPlanAlimenticio()">
          <mat-option [value]="null">Todos</mat-option>
          <mat-option *ngFor="let objetivo of uniquePlanObjetivos" [value]="objetivo">{{ objetivo | formatPlanObjetivo }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let plan of filteredPlanAlimenticio">
        <mat-card [ngClass]="{'blurred': !plan.esGratis}">
          <mat-card-title>{{ plan.planObjetivo | formatPlanObjetivo }}</mat-card-title>
          <mat-card-content>
            <p><strong>Descripcion: </strong> {{ plan.descripcion }}</p>
            <p><strong>Duracion: </strong> {{ plan.duracionDias }} dias</p>
            <p><strong>Calorias Totales: </strong> {{ plan.caloriasTotales }} kcal</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="verPlanDetalles(plan)" *ngIf="plan.esGratis">Ver Detalles</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</main>