.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.card {
    padding: 10px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-section {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.form-field {
    margin-bottom: 20px;
    width: 100%;
}

.mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}