<div class="container-form">
    <form [formGroup]="metaForm" (ngSubmit)="onSubmit()" class="form-section">
        <h2 class="text-center"><strong>{{ titulo }}</strong></h2>

        <div>
            <mat-form-field class="form-field">
                <mat-label>Nombre de Meta</mat-label>
                <input
                    matInput
                    formControlName="nombre"
                    type="text"
                    placeholder="Ingrese el nombre de la meta"
                >
                <mat-error *ngIf="controlHasError('nombre', 'required')">
                    Este campo es obligatorio
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="form-field">
                <mat-label>Descripción</mat-label>
                <input
                    matInput
                    formControlName="descripcion"
                    type="text"
                    placeholder="Ingrese la descripción"
                >
                <mat-error *ngIf="controlHasError('descripcion', 'required')">
                    Este campo es obligatorio
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="form-field">
                <mat-label>Peso Objetivo</mat-label>
                <input
                    matInput
                    formControlName="pesoObjetivo"
                    type="number"
                    step="0.01"
                    placeholder="Ingrese el peso objetivo"
                >
                <mat-error *ngIf="controlHasError('pesoObjetivo', 'required')">
                    Este campo es obligatorio
                </mat-error>
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary" type="submit" class="btn btn-primary">
            {{ textoBoton }}
        </button>
    </form>
</div>