.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-section {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.form-field {
    margin-bottom: 20px;
    width: 100%;
}

.mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#esGratis {
    text-align: center;
    margin: auto 0;
}

.container-radio-button {
    display: flex;
    align-items: center;
    text-align: center;
}