<div class="main-container">
  
    <div class="reset-container">
      <h2 class="reset-header">Recuperar Contraseña</h2>
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="reset-form">
        <div class="form-group">
          <mat-form-field appearance="outline" class="form-input">
            <mat-label>Correo Electrónico</mat-label>
            <input
              matInput
              formControlName="email"
              placeholder="Introduce tu correo"
            />
            @if (controlHasError('email', 'required')) {
            <mat-error>Este campo es obligatorio</mat-error>
            }
            @if (controlHasError('email', 'email')) {
            <mat-error>Introduce un correo válido</mat-error>
            }
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" class="submit-button" type="submit" [disabled]="resetForm.invalid">Enviar Correo</button>
      </form>
  
      <p class="back-to-login">
        <button mat-button color="accent" (click)="goToLogin()">Regresar</button>
      </p>
    </div>
  </div>
  