.plan {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    text-align: center;
}

.plan-titulo {
    flex: 1;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.card {
    width: 100%;
    border: 1px solid #e0e0e0;
}

.mat-mdc-card-header {
    justify-content: center;
    margin: 5px;
}

.mat-mdc-card {
    box-shadow: none;
}

.button-plan {
    margin: 10px;
}

.button-plan button {
    padding-left: 5px;
}
